In [2]:
import pandas as pd
from data_extraction import DataExtractor

extract = DataExtractor()
test = extract.read_rds_table()
print(test)
#test = test.set_index('index')
#print(test)

#index needs to be reconfigured

#test.to_excel('output_file.xlsx', index=True)

       index first_name last_name date_of_birth                       company  \
0          0   Sigfried     Noack    1990-09-30            Heydrich Junitz KG
1          1        Guy     Allen    1940-12-01                       Fox Ltd
2          2      Harry  Lawrence    1995-08-02     Johnson, Jones and Harris
3          3     Darren   Hussain    1972-09-23                   Wheeler LLC
4          4      Garry     Stone    1952-12-20                    Warner Inc
...      ...        ...       ...           ...                           ...
15315  14913    Stephen   Jenkins    1943-08-09  Thornton, Carroll and Newman
15316  14994    Stephen     Smith    1948-08-20               Robinson-Harris
15317  15012    Stephen  Losekann    1940-10-09                       Rosenow
15318  15269    Stephen    Rivera    1952-06-04         Taylor, Fry and Jones
15319   1249    Stephen    Duncan    1994-03-27    Phillips, Brown and Powell

                      email_address  \
0                 rudi79@winkler.de
1      rhodesclifford@henderson.com
2      glen98@bryant-marshall.co.uk
3        daniellebryan@thompson.org
4           billy14@long-warren.com
...                             ...
15315           s.jenkins@smith.com
15316             s.smith@smith.com
15317          s.losekann@smith.com
15318            s.rivera@smith.com
15319            s.duncan@smith.com

                                                 address         country  \
0                           Zimmerstr. 1/0\n59015 Gießen         Germany
1      Studio 22a\nLynne terrace\nMcCarthymouth\nTF0 9GH  United Kingdom
2                     92 Ann drive\nJoanborough\nSK0 6LR  United Kingdom
3                 19 Robinson meadow\nNew Tracy\nW22 2QG  United Kingdom
4                  3 White pass\nHunterborough\nNN96 4UE  United Kingdom
...                                                  ...             ...
15315     Studio 41I\nJones lodge\nOliviaborough\nE8 3DU  United Kingdom
15316              530 Young parkway\nMillsfurt\nL4G 7NX  United Kingdom
15317  Viviane-Fritsch-Straße 3/5\n15064 Bad Liebenwerda         Germany
15318   660 Ross Falls Suite 357\nAnthonymouth, MA 09610   United States
15319     Studio 4\nHancock road\nPhillipsview\nST1X 3XB  United Kingdom

      country_code       phone_number   join_date  \
0               DE   +49(0) 047905356  2018-10-10
1               GB    (0161) 496 0674  2001-12-20
2               GB  +44(0)121 4960340  2016-12-16
3               GB    (0306) 999 0871  2004-02-23
4               GB      0121 496 0225  2006-09-01
...            ...                ...         ...
15315           GB    +44(0)292018946  2016-04-15
15316           GB   +44(0)1144960977  2020-07-20
15317           DE        02984 08192  2021-03-07
15318           US       239.711.3836  2011-01-03
15319           GB   +44(0)1314960870  2015-08-28

                                  user_uuid
0      93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8
1      8fe96c3a-d62d-4eb5-b313-cf12d9126a49
2      fc461df4-b919-48b2-909e-55c95a03fe6b
3      6104719f-ef14-4b09-bf04-fb0c4620acb0
4      9523a6d3-b2dd-4670-a51a-36aebc89f579
...                                     ...
15315  2bd3a12f-a92d-4cdd-b99c-fc70572db302
15316  d234c04b-c07c-46a5-a902-526f91478ecc
15317  1a0a8b7b-7c17-42d8-a946-8a85d5495651
15318  187fe06e-bd5f-4381-af2f-d7ac37ca7572
15319  0589bbca-1d58-4b1f-9d0a-04ed4c57aaa1

[15320 rows x 12 columns]

In [26]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15320 entries, 0 to 15319
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          15320 non-null  int64
 1   first_name     15320 non-null  object
 2   last_name      15320 non-null  object
 3   date_of_birth  15320 non-null  object
 4   company        15320 non-null  object
 5   email_address  15320 non-null  object
 6   address        15320 non-null  object
 7   country        15320 non-null  object
 8   country_code   15320 non-null  object
 9   phone_number   15320 non-null  object
 10  join_date      15320 non-null  object
 11  user_uuid      15320 non-null  object
dtypes: int64(1), object(11)
memory usage: 1.4+ MB

- showing no empty cells.
- however "NULL" strings entered in data.
- index column needs dropping.
- use pandas own index as rightful index

- remove duplicates shows 20 duplicates but all NULL NULL NULL meaning total 21 NULL ROWS exist

- rows with false data also exist, need to create a method for removing those instead of individually removing indexes.

- need to remove unwanted characters in addresses, phone numbers etc

- assign datatypes

In [14]:
test_drop = test.drop('index',axis = 1 )
print(test_drop)

df_cleaned = test_drop.drop_duplicates()
print(df_cleaned.sum())

      first_name last_name date_of_birth                       company  \
0       Sigfried     Noack    1990-09-30            Heydrich Junitz KG
1            Guy     Allen    1940-12-01                       Fox Ltd
2          Harry  Lawrence    1995-08-02     Johnson, Jones and Harris
3         Darren   Hussain    1972-09-23                   Wheeler LLC
4          Garry     Stone    1952-12-20                    Warner Inc
...          ...       ...           ...                           ...
15315    Stephen   Jenkins    1943-08-09  Thornton, Carroll and Newman
15316    Stephen     Smith    1948-08-20               Robinson-Harris
15317    Stephen  Losekann    1940-10-09                       Rosenow
15318    Stephen    Rivera    1952-06-04         Taylor, Fry and Jones
15319    Stephen    Duncan    1994-03-27    Phillips, Brown and Powell

                      email_address  \
0                 rudi79@winkler.de
1      rhodesclifford@henderson.com
2      glen98@bryant-marshall.co.uk
3        daniellebryan@thompson.org
4           billy14@long-warren.com
...                             ...
15315           s.jenkins@smith.com
15316             s.smith@smith.com
15317          s.losekann@smith.com
15318            s.rivera@smith.com
15319            s.duncan@smith.com

                                                 address         country  \
0                           Zimmerstr. 1/0\n59015 Gießen         Germany
1      Studio 22a\nLynne terrace\nMcCarthymouth\nTF0 9GH  United Kingdom
2                     92 Ann drive\nJoanborough\nSK0 6LR  United Kingdom
3                 19 Robinson meadow\nNew Tracy\nW22 2QG  United Kingdom
4                  3 White pass\nHunterborough\nNN96 4UE  United Kingdom
...                                                  ...             ...
15315     Studio 41I\nJones lodge\nOliviaborough\nE8 3DU  United Kingdom
15316              530 Young parkway\nMillsfurt\nL4G 7NX  United Kingdom
15317  Viviane-Fritsch-Straße 3/5\n15064 Bad Liebenwerda         Germany
15318   660 Ross Falls Suite 357\nAnthonymouth, MA 09610   United States
15319     Studio 4\nHancock road\nPhillipsview\nST1X 3XB  United Kingdom

      country_code       phone_number   join_date  \
0               DE   +49(0) 047905356  2018-10-10
1               GB    (0161) 496 0674  2001-12-20
2               GB  +44(0)121 4960340  2016-12-16
3               GB    (0306) 999 0871  2004-02-23
4               GB      0121 496 0225  2006-09-01
...            ...                ...         ...
15315           GB    +44(0)292018946  2016-04-15
15316           GB   +44(0)1144960977  2020-07-20
15317           DE        02984 08192  2021-03-07
15318           US       239.711.3836  2011-01-03
15319           GB   +44(0)1314960870  2015-08-28

                                  user_uuid
0      93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8
1      8fe96c3a-d62d-4eb5-b313-cf12d9126a49
2      fc461df4-b919-48b2-909e-55c95a03fe6b
3      6104719f-ef14-4b09-bf04-fb0c4620acb0
4      9523a6d3-b2dd-4670-a51a-36aebc89f579
...                                     ...
15315  2bd3a12f-a92d-4cdd-b99c-fc70572db302
15316  d234c04b-c07c-46a5-a902-526f91478ecc
15317  1a0a8b7b-7c17-42d8-a946-8a85d5495651
15318  187fe06e-bd5f-4381-af2f-d7ac37ca7572
15319  0589bbca-1d58-4b1f-9d0a-04ed4c57aaa1

[15320 rows x 11 columns]

first_name       SigfriedGuyHarryDarrenGarryDavidAnneLouisKathl...
last_name        NoackAllenLawrenceHussainStoneTorresMorrisRobe...
date_of_birth    1990-09-301940-12-011995-08-021972-09-231952-1...
company          Heydrich Junitz KGFox LtdJohnson, Jones and Ha...
email_address    rudi79@winkler.derhodesclifford@henderson.comg...
address          Zimmerstr. 1/0\n59015 GießenStudio 22a\nLynne ...
country          GermanyUnited KingdomUnited KingdomUnited King...
country_code     DEGBGBGBGBUSGBGBGBUSGBGBGBDEDEGBUSGBDEGBGBDEGB...
phone_number     +49(0) 047905356(0161) 496 0674+44(0)121 49603...
join_date        2018-10-102001-12-202016-12-162004-02-232006-0...
user_uuid        93caf182-e4e9-4c6e-bebb-60a1a9dcf9b88fe96c3a-d...
dtype: object

In [18]:


# Assuming df is your DataFrame
# df = ...

duplicates = test_drop[test_drop.duplicated(subset=test_drop.columns.difference(['index']))]

total_duplicates = test_drop.duplicated(subset=test_drop.columns.difference(['index'])).sum()

print(f"Duplicate Rows (excluding index): {duplicates}")
print(total_duplicates)

# Display the DataFrame without duplicates
#print("DataFrame after removing duplicates:")
#print(df_no_duplicates)

Duplicate Rows (excluding index):       first_name last_name date_of_birth company email_address address  \
1022        NULL      NULL          NULL    NULL          NULL    NULL
1805        NULL      NULL          NULL    NULL          NULL    NULL
2103        NULL      NULL          NULL    NULL          NULL    NULL
2437        NULL      NULL          NULL    NULL          NULL    NULL
2739        NULL      NULL          NULL    NULL          NULL    NULL
2764        NULL      NULL          NULL    NULL          NULL    NULL
4984        NULL      NULL          NULL    NULL          NULL    NULL
5307        NULL      NULL          NULL    NULL          NULL    NULL
6920        NULL      NULL          NULL    NULL          NULL    NULL
7737        NULL      NULL          NULL    NULL          NULL    NULL
10013       NULL      NULL          NULL    NULL          NULL    NULL
10224       NULL      NULL          NULL    NULL          NULL    NULL
10988       NULL      NULL          NULL    NULL          NULL    NULL
11443       NULL      NULL          NULL    NULL          NULL    NULL
11598       NULL      NULL          NULL    NULL          NULL    NULL
11761       NULL      NULL          NULL    NULL          NULL    NULL
11864       NULL      NULL          NULL    NULL          NULL    NULL
12092       NULL      NULL          NULL    NULL          NULL    NULL
12584       NULL      NULL          NULL    NULL          NULL    NULL
13855       NULL      NULL          NULL    NULL          NULL    NULL

      country country_code phone_number join_date user_uuid
1022     NULL         NULL         NULL      NULL      NULL
1805     NULL         NULL         NULL      NULL      NULL
2103     NULL         NULL         NULL      NULL      NULL
2437     NULL         NULL         NULL      NULL      NULL
2739     NULL         NULL         NULL      NULL      NULL
2764     NULL         NULL         NULL      NULL      NULL
4984     NULL         NULL         NULL      NULL      NULL
5307     NULL         NULL         NULL      NULL      NULL
6920     NULL         NULL         NULL      NULL      NULL
7737     NULL         NULL         NULL      NULL      NULL
10013    NULL         NULL         NULL      NULL      NULL
10224    NULL         NULL         NULL      NULL      NULL
10988    NULL         NULL         NULL      NULL      NULL
11443    NULL         NULL         NULL      NULL      NULL
11598    NULL         NULL         NULL      NULL      NULL
11761    NULL         NULL         NULL      NULL      NULL
11864    NULL         NULL         NULL      NULL      NULL
12092    NULL         NULL         NULL      NULL      NULL
12584    NULL         NULL         NULL      NULL      NULL
13855    NULL         NULL         NULL      NULL      NULL
20

IndexError: invalid index to scalar variable.

In [24]:
# Find rows with "NULL" values in any column
rows_with_null = test[test.apply(lambda row: row.astype(str).str.contains('NULL')).any(axis=1)].count()

print("Rows with 'NULL' values:")
print(rows_with_null)

Rows with 'NULL' values:
index            21
first_name       21
last_name        21
date_of_birth    21
company          21
email_address    21
address          21
country          21
country_code     21
phone_number     21
join_date        21
user_uuid        21
dtype: int64

In [25]:
# Count the total number of "NULL" values in the entire DataFrame
total_null_count = (test == 'NULL').sum().sum()

print("Total number of 'NULL' values in the DataFrame:", total_null_count)

Total number of 'NULL' values in the DataFrame: 231

In [17]:
import pandas as pd
import re

# Assuming your DataFrame is named 'test'

# Define the modified regular expression pattern
pattern = r'\b(?=.*[A-Z])(?=.*\d)[A-Z\d]{10}\b'

# Function to check if any value in a Series matches the pattern
def contains_pattern(series):
    return series.apply(lambda x: bool(re.search(pattern, str(x))))

# Use apply to check if any value in each column matches the pattern
matching_entries = test.apply(contains_pattern)

# Get the rows where at least one value in the row matches the pattern
matching_rows = matching_entries.any(axis=1)

# Print the rows where at least one value matches the pattern
print(f"Matching Rows:")
print(test[matching_rows])

num_rows = matching_rows.sum()
print("--------")
print(num_rows)

Matching Rows:
       index  first_name   last_name date_of_birth     company email_address  \
752      752  PYCLKLLC7I  W350SCUD6R    KBTI7FI7Y3  R7IZUNSQX0    3Q791B3VIY
1046    1047  GI4C78KWH0  UTB5PPYFG8    OFH8YGZJWN  CA1XGS8GZW    7HSZB429UK
2995    2997  DPAJNJL6PR  B8ZGN8ZJ84    PQPEUO937L  0YJ2FRMDB4    O5Q6D7FDAF
3536    3539  E5139W1FJ3  X88YLZX0JX    7KGJ3C5TSW  648S19YUFF    BYU3R2LQF8
5306    5309  XKDVQD7BH2  4YSEX8AY1Z    RQTF5XSXP4  GKJZ58DTHT    789HWCYC7M
6420    6426  EI10BU4INS  SH6Y92V6IK    D2OZZHWOLK  LNFBRXXUT4    TFEA83AAHP
8386    8398  I7IJDAPMIM  LUNRZWUKRB    QTVEU5TR8H  JXKOHA5B8F    JK2J6N4DLG
9013    9026  TG6PAO2RAB  PIG6VAZUPM    L3E8OV4UAC  ROL0IMK6UH    EIV7XWUJ8I
10211  10224  VCQL3ML6ZT  HULT86HONJ    TLSTUEIKI0  QSS0MWBGFZ    1WNILGM5MK
10360  10373  G1SI2RM0KA  67VJEE6DS2    YTC82GP4XE  M4Z6M30SJ3    U1AZKY6URZ
11366  11381  31XQ1Z35J9  8LR57D7RZ0    O1LIA1MT1N  66V9WU2HU1    XASHXWHN80
12177  12197  2GU3G97VI1  91RL47Q2WC    RQI3KQXFBQ  D4KULDKYME    YM2YGPR8W1
13111  13135  F3LGJ1NZ0I  IXWSZZ2VPN    1IA43NTJFB  9WSM9X17XK    M5ZDMLPP45
14101  14124  DD0K0FUDRY  Q9U9JNG44F    M7HZECVQVC  DJXWS4B52O    X29OBIYMTI
14499  14523  YWM71XYN17  PYC56FDP4V    6WAQ2SVK0Q  WGP4NBYFT6    6VIJ9KJU8P

          address     country country_code phone_number   join_date  \
752    YW2YXLOQ5J  I7G4DMDZOZ   VSM4IZ4EL3   A4Q4HQBI3I  JJ2PDVNPRO
1046   63GXGYR3XL  AJ1ENKS3QL   QVUW9JSKY3   64ZO0ONUQO  AHN6EKASH3
2995   Y1GY1G3EM5  XGI7FM0VBJ   0CU6LW3NKB   DU9UJ42F3E  FYF2FAPZF3
3536   GOWRW4JCE7  S0E37H52ON   PG8MOC0UZI   LJ6H5XBD2A  QH6Z9ZPX37
5306   KJW5WR7W16  XN9NGL5C0B   NTCGYW8LVC   MUXPJD0BZY  LYVWXBBI6F
6420   XGYW43ZF8B  50KUU3PQUF   FB13AKRI21   GA2YQ189FL  DM4Q84QZ03
8386   FW3EMRJ25W  EWE3U0DZIV   OS2P9CMHR6   G2D0EI6DT3  DOKMYDVV6L
9013   KHJLOAKCW2  GMRBOMI0O1   5D74J6FPFJ   65I9CX7VF2  YBUYH8T6OE
10211  R4HMRLEIXV  YOTSVPRBQ7   LZGTB0T5Z7   6VGTZ6ANEA  SRH5SM36LH
10360  N9D1AYQOJ0  5EFAFD0JLI   IM8MN1L9MJ   Y0AKRC4TUP  4JIOCHZY0W
11366  NZDOEJPB2M  PNRMPSYR1J   RVRFD92E48   CLGG66L3JK  3CUODA3HTC
12177  4M2VPXJHBE  RQRB7RMTAD   XKI9UXSCZ1   35OGAP18JU  8BAER2328P
13111  W5VT0DOEKO  3518UD5CE8   QREF9WLI2A   EIP7YUL5CE  U9CRKSTONU
14101  8EK3ZFIGXL  7ZNO5EBALT   XPVCZE2L8B   XBL6JO9DU6  9YLGYDEZNV
14499  NI3KEEZPTY  T4WBZSW0XI   44YAIDY048   QVAV1H2QVH  7PF0SMLXII

        user_uuid
752    W43MSCMQ88
1046   BUE34OU973
2995   56URKLG01W
3536   A1W2TVMK1S
5306   LNRNI6X6VL
6420   23WTQ63AET
8386   8FB8XB78NQ
9013   HEGG0N3ICG
10211  AKXDQ62K1V
10360  7JTCX4UVLK
11366  C7N3K5VF9U
12177  YIBFXQLD4A
13111  55II6WK8D2
14101  1YOGCW4V46
14499  7PYPXC0PPN
--------
15